@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Protest+Riot&display=swap');


.track1 {
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  border: 1px solid rgba(255, 255, 255, 1);
   */
   background-color: black;
   border-color: aliceblue;
}
.track2 {
  
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  color: aliceblue;
  font-family: 'Anta',sans-serif;
}
@media (max-width: 768px) {
  /* .Imn {
    width: 15rem;
  } */
  .track {
    font-family: 'Protest Riot', sans-serif;
    font-size: 3rem;
    
  }
  .para {
    font-family: 'Anta', sans-serif;
    margin: auto;
    font-size: 17px/33px;

  }
}

/* Desktop view */
@media (min-width: 769px) {
  /* .Imn {
    width: 22rem;
  } */
  .track {
    font-family: 'Protest Riot', sans-serif;
    font-size: 5rem;
  }
  .para {
    font-family: 'Anta', sans-serif;
    margin: auto;
    font-size: 1.5rem;

  }
}
.Imn {
  width: 80%;
}
.trc{
  font-family: 'Anta', sans-serif;
   font-size: 1.3rem;
   color: burlywood;
}
