@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Protest+Riot&display=swap');
.par {
  font-family: 'Anta', sans-serif;
  margin: auto;
}

/* Media query for screens with a maximum width of 600px (mobile devices) */
@media screen and (max-width: 600px) {
  /* Adjust font size for mobile devices */
  .par {
    font-size: 17px/33px;
    /* Decrease font size for mobile */
  }
  .about {
    font-family: 'Protest Riot', sans-serif;
    font-size: 3rem;
  }
}

/* Media query for screens with a minimum width of 601px (laptop/desktop devices) */
@media screen and (min-width: 601px) {
  /* Adjust font size for laptop/desktop devices */
  .par {
    font-size: 1.5rem;
    /* Keep original font size for laptops */
  }
  .about {
    font-family: 'Protest Riot', sans-serif;
    font-size: 4.5rem;
  }
}
